<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Ba Anh Em - Trang cá nhân</title>

    <style>
        .img-poster {
            width: 750px;
            height: 360.61px;
            object-fit: cover;
        }
    </style>


</head>

<body>
<!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<section layout:fragment="content">
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <section class="main-page-header speaker-banner bg_img" data-background="/assets/img/banner/banner07.jpg"
             style="background-image: url(&quot;/assets/img/banner/banner07.jpg&quot;);">
        <div class="container">
            <div class="speaker-banner-content">
                <h2 class="title">Trang cá nhân</h2>
            </div>
        </div>
    </section>

<!--    <section class="loyalty-points-section padding-top">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-12 text-center">-->
<!--                    <div class="points-text">-->
<!--                        <span class="cate">Tích điểm 3AE MEMBER</span>-->
<!--                    </div>-->
<!--                    <div class="progress-container">-->
<!--                        <div class="progress2 progress-moved">-->
<!--                            <div class="progress-bar2"-->
<!--                                 th:style="${'width:' + (userPoint / (userType == 'STANDARD' ? 2000 : 5000) * 100) + '%'}"></div>-->
<!--                        </div>-->
<!--                        <span class="points-text"-->
<!--                              th:text="${userPoint} + '/' + (${userType} == 'STANDARD' ? 2000 : 5000)"></span></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <!-- ==========Contact-Section========== -->

    <section class="contact-section padding-top">
        <div class="contact-container">
            <div class="container">
                <div th:if="${success}" class="alert alert-success">
                    <pre th:text="${success}"></pre>
                </div>
                <div th:if="${error}" class="alert alert-danger">
                    <pre th:text="${error}"></pre>
                </div>
                <br>
                <div class="row justify-content-between">
                    <div class="col-md-7 col-lg-6 col-xl-5">
                        <div class="section-header-3 left-style">
                            <span class="cate">Thông tin của bạn</span>
                        </div>
                        <form class="contact-form" id="form_submit_profile" th:action="@{/profile/update}" method="POST"
                              enctype="application/x-www-form-urlencoded;charset=UTF-8" accept-charset="UTF-8">
                            <div class="form-group">
                                <label for="full_name">Họ tên <span>*</span></label>
                                <input type="text" name="full_name" id="full_name" th:value="${user.fullname}"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email <span>*</span></label>
                                <input type="email" name="email" id="email" th:value="${user.email}" disabled/>
                            </div>
                            <div class="form-group">
                                <label for="phone">SDT <span>*</span></label>
                                <input type="text" name="phone" id="phone" th:value="${user.phone}" required/>
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" name="address" id="address" th:value="${user.address}" />
                            </div>
                            <div class="form-group">
                                <input type="submit" name="update-profile" value="Thay đổi"/>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 col-lg-6">
                        <div class="section-header-3 left-style">
                            <span class="cate">Đổi mật khẩu</span>
                        </div>
                        <form class="contact-form" id="form_submit_password" th:action="@{/profile/change-password}" method="POST">

                            <div class="form-group">
                                <label for="password">Mật khẩu cũ <span>*</span></label>
                                <input type="password" name="password" id="password" required/>
                            </div>
                            <div class="form-group">
                                <label for="password2">Mật khẩu mới <span>*</span></label>
                                <input type="password" name="password2" id="password2" required/>
                            </div>
                            <div class="form-group">
                                <label for="repassword2">Nhập lại mật khẩu mới <span>*</span></label>
                                <input type="password" name="repassword2" id="repassword2" required/>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="change-pass" value="Thay đổi"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Contact-Section========== -->

    <!-- ==========Contact-Counter-Section========== -->
    <section class="contact-counter padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center mb-30-none">
                <a href="/purchase/history" class="col-sm-6 col-md-3">
                    <div class="contact-counter-item">
                        <div class="contact-counter-thumb">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="contact-counter-content">
                            <div class="counter-item">
                                <h5 class="title odometer" th:data-odometer-final="${bookingCount}">0</h5>
                            </div>
                            <p>Số lần đã đặt</p>
                        </div>
                    </div>
                </a>
                <a href="/purchase/history" class="col-sm-6 col-md-3">
                    <div class="contact-counter-item">
                        <div class="contact-counter-thumb">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="contact-counter-content">
                            <div class="counter-item">
                                <h5 class="title odometer" th:data-odometer-final="${totalPrice}">0</h5>
                            </div>
                            <p>Số tiền đã chi</p>
                        </div>
                    </div>
                </a>
                <a href="/my-points" class="col-sm-6 col-md-3">
                    <div class="contact-counter-item">
                        <div class="contact-counter-thumb">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="contact-counter-content">
                            <div class="counter-item">
                                <h5 class="title odometer" th:data-odometer-final="${userPoint}">0</h5>
                            </div>
                            <p>Điểm của bạn</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" th:if="${successMessage}">
    Toastify({
        text: [[${successMessage}]], // Hiển thị thông báo từ server
        duration: 3000, // Thời gian hiển thị thông báo (3 giây)
        close: true, // Hiển thị nút đóng
        gravity: "top", // Vị trí thông báo (top hoặc bottom)
        position: "right", // Vị trí thông báo (left, center hoặc right)
        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)", // Màu nền thông báo
    }).showToast();

    // Chuyển hướng người dùng sau khi thông báo hiển thị (3 giây)
    setTimeout(function () {
        window.location.href = "/profile";
    }, 3000);
</script>